@layer reset, base, tokens, recipes, utilities;

.AccueilHover:hover {
  background-color: #004590 !important;
  transition: 0.5s;
  border: none !important;
}

@font-face {
  font-family: grapenuts;
  /* src: url(./assets/fonts/Janda/JandaManateeBubble.ttf); */
  /* src: url(./assets/fonts/Happy/HappySchool.ttf); */
  src: url(./assets/fonts/HeyComic/HeyComic.ttf);
}

@font-face {
  font-family: grapenutssolid;
  src: url(./assets/fonts/JandaManateeSolid.ttf);
}

* {
  font-family: grapenuts !important;
}

.monstyle {
  transition: transform 0.3s ease-out;
}

.monstyle:hover {
  transform: scale(1.1);
}

.scoreuser {
  font-family: Arial, Helvetica, sans-serif;
  color: #28A745;
}

.mysuccessbutton {
  background-color: #28A745 !important;
  color: white !important;
};

.mysuccessbutton:hover {
  background-color: #218838 !important;
}